<nav class="navbar navbar-expand-lg navbar-dark bg-dark" dir="rtl">
  <a class="navbar-brand" href="#">کتاب آشپزی</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-right">
      <li class="nav-item active">
        <a class="nav-link" href="#">دستور های آشپزی <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">لیست خرید</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" >مدیریت</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">ذخیره اطلاعات</a>
          <a class="dropdown-item" href="#">بازیابی اطلاعات</a>
        </div>
      </li>
    </ul>

  </div>
</nav>
